@import "../../../helpers/styles/colors";


.info {
  position: relative;
  width: 100%;

  &--banner {
    transition: opacity 0.2s ease-out;
    opacity: 0;
    background-color: $mainFont;
    position: absolute;
    border-radius: 10px;
    padding: 10px;

    p {
      color: $mainBackground;
    }
  }

  img:hover + &--banner {
    opacity: 1;
  }
}