@import "../../../helpers/styles/colors";


.main-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: $mainBackground;

  &--section {
    border-right: 1px solid $mainOrange;
    padding: 20px;
    flex-grow: 1;
    flex-basis: 0;

    &:last-of-type {
      border: none;
    }

    &--list {
      margin-top: 20px;
      overflow: auto;
      height: calc(100% - 32px);
      display: flex;
      flex-direction: column;

      &--empty {
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .main-page {
    display: block;

    &--section {
      border-bottom: 1px solid $mainOrange;
      border-right: none;
      height: 33.3%;

      &--list {
        height: calc(100% - 50px);
      }
    }
  }
}

